.jiraLoader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    background-color: rgba(224, 233, 238, 0.658);
    .jiraLoader-content {
        display: inline-block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        div {
            display: inline-block;
            position: absolute;
            left: 0.6rem;
            width: 0.7rem;
            background: linear-gradient(32deg, rgb(41, 109, 138) 0%, rgb(64, 145, 175) 50%, rgb(141, 235, 253) 100%);
            animation: jiraLoader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            &:nth-child(1) {
                left: 0.6em;
                animation-delay: -0.24s;
            }
            &:nth-child(2) {
                left: 2em;
                animation-delay: -0.12s;
            }
            &:nth-child(3) {
                left: 3.5em;
                animation-delay: 0;
            }
        }
    }
}

@keyframes jiraLoader {
    0% {
        top: 0.6em;
        height: 3rem;
    }
    50%,
    100% {
        top: 1.6em;
        height: 1.5rem;
    }
}