@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.formLogin {
    .formLogin__content {
        height: 100vh;
        .jira-welcome {
            font-size: 1rem;
            color: gray;
            font-style: italic;
        }
        .input-login {
            width: 70%;
            height: 40px;
        }
        .btn-login {
            width: 35%;
            height: 45px;
            border: 1px solid lightskyblue;
            background-color: lightskyblue;
            font-size: 1rem;
            &:hover {
                background-color: rgb(215, 238, 252);
            }
        }
        .or {
            color: gray;
            width: 70%;
            .lineOr {
                width: 50%;
                text-align: left;
                margin-left: 0;
            }
            p {
                margin: 0px 8px;
            }
        }
        .social {
            width: 70%;
            .btn-loginWith {
                background-color: #4fa2ee;
            }
            span {
                font-size: 0.9rem;
            }
        }
    }
}