/* Sider Bar */

.sideBar {
    position: fixed;
    height: 100vh;
    z-index: 10;
    background: rgb(2, 132, 153);
    width: 4%;
    transition: 0.2s;
    color: white;
    box-shadow: -10px 0px 25px 12px gray;
    .logoJira {
        font-size: 1.4rem;
    }
    .ant-menu-root {
        background: transparent;
    }
    .paddingItem {
        padding: 0.4rem 0 0.4rem 1rem;
    }
    .ant-menu-item-selected {
        background-color: transparent !important;
        &:hover {
            background-color: rgb(66, 159, 173) !important;
        }
    }
    .ant-menu-item {
        svg {
            color: rgba(255, 255, 255, 1) !important;
        }
        span {
            color: rgba(255, 255, 255, 1) !important;
        }
        &:hover {
            background-color: rgb(66, 159, 173);
        }
    }
}

.ant-layout-sider-collapsed {
    max-width: 57px !important;
    min-width: 57px !important;
    width: 57px !important;
    box-shadow: none;
}