.createProject {
    text-align: left;
    .form-group {
        width: 77%;
        .form-control {
            height: 35px;
        }
    }
    form {
        .btn-outline-primary {
            margin-bottom: 5%;
        }
    }
}